**/*.orig
**/*.rs.bk
*.elc
*.rel
*_archive
*_flymake.*
*~
.\#*
.cask/
.dir-locals.el
.import/
.mono/
.org-id-locations
.projectile
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
/target/
Cargo.lock
\#*\#
auto-save-list
data_*/
dist/
export.cfg
flycheck_*.el
tramp
